<section class="box project">
		<header>
			<h3>{{project.title}}</h3>
		</header>
		<p>{{project.description}}</p>
		<footer>
		  <ul class="actions">
		    <li><a href="/project/:id" class="button alt">Keep Working!</a></li>
		  </ul>
		</footer>
	</section>