<section class="box project">
		<header>
			<h3>{{task.title}}</h3>
		</header>
		<p>{{task.description}}</p>
		<footer>
		  <ul class="actions">
		    <li><a href="api/tasks/:id" class="button alt">Keep Working!</a></li>
		  </ul>
		</footer>
	</section>