
		<h5 class="card-header">{{task.title}}</h5>
			<div class="card-body">
				<p class="card-text">{{task.task_text}}</p>
				<h6 class="card-title">Created By:{{task.created_by}}</h6>
					{{!-- <div class="dropdown">
						<button class="button dropdown-toggle" type="button" id="dropdownStatus" data-bs-toggle="dropdown" aria-expanded="false">
							Status
						</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="#to-do">To Do</a></li>
							<li><a class="dropdown-item" href="#in-progress">In Progress</a></li>
							<li><a class="dropdown-item" href="#done">Done</a></li>
              <li><a class="dropdown-item" href="#sos">SOS</a></li>
							</ul>
						</div> --}}
					</div>
				