
	<!-- Main -->
				<section id="main" class="left-sidebar is-preload">
					<div class="container">
						<div class="row">
							<div class="col-3 col-12-medium">

								<!-- Sidebar -->

								<!-- create project box -->
									<section class="box">
										<header>
											<h3>Create a Project Here!</h3>
										</header>
										<p>Build tasks, add collaborators and tackle this project!!</p>
										<footer>
											<a href="#" id="create-new" class="button">Build a New Project</a>
										</footer>
									</section>

									<!-- Notifications box -->
									<section class="box">
										<header>
											<h3>Notifications</h3>
										</header>
									
										<ul class="divided" id="notificationsBox">
											
										</ul>
									</section>

							</div>
							
              <!-- Content -->
							<div class="col-9 col-12-medium imp-medium">
									<article class="box post">
										<div class="col-12">
											<!-- Projects -->
												<section>
													<header class="major">
														<h2>My Projects</h2>
													</header>
													<div class="row">
														{{!-- project partial --}}
												  </div>
                        </section>
										</div>
										
									</article>
							  </div>

						</div>
					</div>
				</section>

