<section id="main" class="homepage is-preload">
					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Welcome to MentalBreakdown Project Manager!</h2>
								<p>Our job is to take the stress out of your projects by providing a way to break them down step by step.  When you utilize MentalBreakdown, rest assured that you can handle even the heaviest of workloads if you approach it one piece at a time. We'll break it down, so you don't.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon solid featured fa-cog"></i>
										<header>
											<h2>Breakdown Tasks</h2>
										</header>
										<p>Take a big project and break it down into more palatable pieces to prevent overwhelm.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon solid featured alt fa-bolt"></i>
										<header>
											<h2>Assign to Team Members</h2>
										</header>
										<p>Each task can be assigned to individual team members or kept within a group scope to maintain organization and accountability.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon solid featured alt2 fa-star"></i>
										<header>
											<h2>Stay on Track</h2>
										</header>
										<p>Track the status of each task by changing it's status throughout the development process from "To Do" to "Done".</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button large">Login</a></li>
								</ul>
							</footer>
						</section>


  </section>


    