
.sign-in {
    font-style: "source sans pro";
    font-size: larger;
    color: rgb(0, 0, 0);
    padding-top: 15%;
}


.sign-up {
    font-style: "source sans pro";
    font-size: larger;
    color: rgb(0, 0, 0);
    padding-top: 15%;
}



.sign-btn {
    background-color: #d52349;
  border: none;
  color: white;
  padding: 16px 32px;
  
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  
}

.sign-btn:hover {opacity: 0.1}


.up-btn {
    background-color: #d52349;
  border: none;
  color: white;
  padding: 16px 32px;
 
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;

}

.sign-btn:hover {opacity: 0.3}